<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventParticipation">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQyWamTqPjrZFluuRUGfjOKuppb57Irqs" />

        <activity
            android:name=".universal.SelectRoleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".organizer.OrganizerDashboardActivity" android:exported="false" />
        <activity android:name=".organizer.ManageEventActivity" android:exported="false" />
        <activity android:name=".organizer.EntrantListActivity" android:exported="false" />
        <activity android:name=".organizer.WaitlistMapActivity" android:exported="false" />
        <activity android:name=".organizer.CreateEventActivity" android:exported="false" />
        <activity android:name=".user.EntrantDashboardActivity" android:exported="false" />
        <activity android:name=".user.EntrantEventDetailActivity" android:exported="false" />
        <activity android:name=".user.EntrantMyEventsActivity" android:exported="false" />
        <activity android:name=".user.EntrantNotificationsActivity" android:exported="false" />
        <activity android:name=".user.ProfileActivity" android:exported="false" />
        <activity android:name=".user.ProfileSetupActivity" android:exported="false" />
        <activity android:name=".user.CameraQRActivity" android:exported="false" />
        <activity android:name=".user.EntrantQRCodeActivity" android:exported="false" />
        <activity android:name=".universal.InfoPopup" android:exported="false" android:theme="@style/PopUp"/>
        <activity android:name=".admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".organizer.CoOrganizerDashboardActivity" />
        <activity android:name=".user.EventCommentsActivity" android:exported="false" />
        <activity android:name=".universal.AuthActivity" android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>